<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="{% url 'home' %}" class="nav-link px-2 link-secondary"
            >Home</a
          >
        </li>
        <li>
          <a href="{% url 'add-item' %}" class="nav-link px-2 link-dark"
            >Add item</a
          >
        </li>
        <li>
          <a href="{% url 'add-ingredient' %}" class="nav-link px-2 link-dark"
            >Add ingredient</a
          >
        </li>
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Process Order
          </span>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'item-order' %}">Item</a>
            <a class="dropdown-item" href="{% url 'ingredient-order' %}"
              >Ingredient</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'view-inventory-orders' %}"
              >Inventory</a
            >
          </div>
        </li>
        <li>
          <a href="{% url 'view-orders' %}" class="nav-link px-2 link-dark"
            >Order History</a
          >
        </li>
        <li>
          <a
            href="{% url 'add-inventory-order' %}"
            class="nav-link px-2 link-dark"
            >New Inventory order</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
  crossorigin="anonymous"
></script>
