{% extends 'main.html' %} {% block content %}

<div class="container text-center">
  <h2>Ingredient Order Form</h2>
  <br />
  <form action="" method="POST">
    {% csrf_token %}
    <div>
      <label for="name">Select Ingredient:</label>
      <select name="name" id="name">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient }}">{{ ingredient }}</option>
        {% endfor %}
      </select>
    </div>
    <br />
    <div>
      <label for="price">Price:</label>
      <input type="number" name="price" id="price" />
    </div>
    <br />
    <div>
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" />
    </div>
    <br />
    <button type="submit">submit</button>
  </form>
</div>

{% endblock %}
