{% extends 'main.html' %} {% block content %}

<h2 class="text-center text-primary">Orders History</h2>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ordered Date</th>
        <th scope="col">Item type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Bill</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}

      <tr>
        <td>{{order.ordered_start_time}}</td>
        <td>{{order.order_type}}</td>
        <td>{{order.quantites}}</td>
        <td>{{order.bill}}</td>
        {% if order.status %}
        <td>Completed</td>
        {% else %}
        <td>Pending</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
